@import "../utils/_common.scss";
@import "../recurrent/form.scss";

.loginContainer {
  @include container;
  & > div {
    @include form-common-styles;
    height: 350px;
    h1 {
      @include common-heading;
    }
    @include common-input;
    .signupCta {
      margin-top: 40px;
      button {
        @include common-cta;
      }
    }
  }
  & > section {
    max-width: 380px;
    width: 100%;
    @include common-bottom-content;
  }
  @include antd-global;
}
