@import "./mixins/index.scss";
//colors
$primary-color: #f4327f;
$secondary-color: linear-gradient(to top, #d23078, #fe6161, #ff7955),
  linear-gradient(to bottom, #e9486d, #e9486d);
$cta-font-color: #e9486d;
$base-color-dark: #444444;
$base-color-medium: #5e6870;
$base-color-light: #bbbbbb;
$base-color-very-light: #f2f2f2;
$dull-light-color: #eee;
$light-color: #fff;
$star-color: #e3ab53;
$cta-border-color: rgba(238, 238, 238, 0.5);
$line-color: rgba(255, 255, 255, 0.25);
$input-border-color: #ccc;
$cta-box-shadow: 0 13px 27px 0 rgba(0, 0, 0, 0.1);

//font family
$primary-font-family: "Montserrat", "Lato", sans-serif;
$secondary-font-family: "Lato", "Montserrat", sans-serif;

//border radius
$primary-border-radius: 32px;
$secondary-border-radius: 24px;
